<!DOCTYPE html>
<html>
  <head>
    <title>heighten</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.cartURL = "<%= image_url('icons/cart.png') %>";
    </script>
    <script type="text/javascript">
      window.linkedinURL = "<%= image_url('icons/linkedin.png') %>";
    </script>
    <script type="text/javascript">
      window.emailURL = "<%= image_url('icons/email.png') %>";
    </script>
    <script type="text/javascript">
      window.forkURL = "<%= image_url('icons/fork.png') %>";
    </script>
    <script type="text/javascript">
      window.githubURL = "<%= image_url('icons/github.png') %>";
    </script>


  </head>

  <body>
  

    
    <%= yield %>
  </body>
</html>

