<!DOCTYPE html>
<html>
  <head>
    <title>heighten</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>


    <nav class="navbar" id='myTopnav'>

        <div class='info'>
            <div class='github'>
                <span> <a href="https://www.linkedin.com/in/william-leung-60589a73/"><img src="./img/linkedin.png" alt="linkedin"></a></span>
                <span> <a href="#"><img src="./img/email.png" alt="email"></a></span>
                <span> <a href="#"><img src="./img/github.png" alt="github"></a></span>
                <span> <a href="#"><img src="./img/fork.png" alt="fork"></a></span>
            </div>
            <div class='cart'>
                <button><span>Sign In</span></button>
                <span><button type=submit><img src="./img/cart.png" alt="cart"></button></span>
            </div>
        </div>

        <div class="header">
            <div class='company-name'>
                <span>heighten</span>
            </div>

            <div class='header_center'>
                <ul class='desk_btn'> <a href="#">Standing Desks</a>
                    <div class="desk_content">
                        <a href="#company">All Desks</a>
                        <a href="#desk_converters">Desk Converters</a>
                        <a href="#standing_desk">Jarvis Standing Desks</a>
                        <a href="#small_spaces">Desks for Small Spaces</a>
                    </div>
                </ul>    

                <ul class='chair_btn'><a href="#">Chairs</a>
                    <div class="chair_content">
                        <a href="#company">All Chairs</a>
                        <a href="#desk_converters">For Traditional Desks</a>
                        <a href="#desk_converters">Kneeling Chairs</a>
                        <a href="#standing_desk">For Standing Desks</a>
                        <a href="#small_spaces">For Small Spaces</a>
                    </div>
                </ul>

                <ul class='workplace_btn'><a href="#">Workplace</a>
                    <div class="workplace_content">
                        <a href="#company">All Workplace</a>
                        <a href="#desk_converters">Storage and Space Dividers</a>
                        <a href="#standing_desk">Lounge Seating</a>
                        <a href="#small_spaces">Office Tables</a>
                        <a href="#small_spaces">Desk Systems</a>
                    </div>
                </ul>

                <ul class='accessories_btn'><a href="#">Accessories</a>
                    <div class="accessories_content">
                        <a href="#company">All Accessories</a>
                        <a href="#desk_converters">Standing Mats and Balance Boards</a>
                        <a href="#standing_desk">Wire and Cable Management</a>
                        <a href="#small_spaces">Jarvis Accessories</a>
                        <a href="#small_spaces">Monitor Arms</a>
                        <a href="#small_spaces">Storage</a>
                    </div>
                </ul>

            </div>
            <div class= 'search'>
                <span><button type=submit><img src="./img/search.png" alt="search"></button></span>
            </div>
            <div class='search_bar'>
                <input type="text" value='hello'>
            </div>
        </div>
            
    </nav>
  
    <%= yield %>
  </body>
</html>
