<!DOCTYPE html>
<html>
  <head>
    <title>heighten</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
<!-- auth page -->
    <script type="text/javascript">
      window.cartURL = "<%= image_url('icons/cart.png') %>";
    </script>
    <script type="text/javascript">
      window.linkedinURL = "<%= image_url('icons/linkedin.png') %>";
    </script>
    <script type="text/javascript">
      window.email2URL = "<%= image_url('icons/email2.png') %>";
    </script>
    <script type="text/javascript">
      window.fork2URL = "<%= image_url('icons/fork2.png') %>";
    </script>
    <script type="text/javascript">
      window.githubURL = "<%= image_url('icons/github.png') %>";
    </script>
    <script type="text/javascript">
      window.searchURL = "<%= image_url('icons/search.png') %>";
    </script>
    <script type="text/javascript">
      window.error404URL = "<%= image_url('404-not-found.jpg') %>";
    </script>

<!-- front page -->
    <script type="text/javascript">
      window.heroURL = "<%= image_url('frontpage/hero.png') %>";
    </script>
    <script type="text/javascript">
      window.capiscoURL = "<%= image_url('frontpage/capisco.png') %>";
    </script>
    <script type="text/javascript">
      window.jarvis1URL = "<%= image_url('frontpage/jarvis1.png') %>";
    </script>
    <script type="text/javascript">
      window.lunaURL = "<%= image_url('frontpage/luna.png') %>";
    </script>
    <script type="text/javascript">
      window.regenURL = "<%= image_url('frontpage/regen.png') %>";
    </script>
    <script type="text/javascript">
      window.tictocURL = "<%= image_url('frontpage/tictoc.png') %>";
    </script>
    <script type="text/javascript">
      window.subtractURL = "<%= image_url('frontpage/subtract.png') %>";
    </script>
    <script type="text/javascript">
      window.arrowURL = "<%= image_url('frontpage/arrow.png') %>";
    </script>
<!-- front page DROP DOWN-->
    <script type="text/javascript">
      window.deskURL = "<%= image_url('dropdown/desk.jpg') %>";
    </script>

    <script type="text/javascript">
      window.jarvisURL = "<%= image_url('dropdown/jarvis.png') %>";
    </script>
    <script type="text/javascript">
      window.remiURL = "<%= image_url('dropdown/remi.png') %>";
    </script>
    <script type="text/javascript">
      window.SmallSpacesURL = "<%= image_url('dropdown/SmallSpaces.jpg') %>";
    </script>
    <script type="text/javascript">
      window.convertersURL = "<%= image_url('dropdown/converters.png') %>";
    </script>

    <script type="text/javascript">
      window.chairsMenuURL = "<%= image_url('dropdown/chairsMenu.jpg') %>";
    </script>
    <script type="text/javascript">
      window.chair2URL = "<%= image_url('dropdown/chair2.png') %>";
    </script>
    <script type="text/javascript">
      window.kneelingURL = "<%= image_url('dropdown/kneeling.jpg') %>";
    </script>
    <script type="text/javascript">
      window.standingChairURL = "<%= image_url('dropdown/standingChair.jpg') %>";
    </script>
    <script type="text/javascript">
      window.littleChairURL = "<%= image_url('dropdown/littlechair.png') %>";
    </script>

    <script type="text/javascript">
      window.menu3URL = "<%= image_url('dropdown/menu3.jpg') %>";
    </script>
    <script type="text/javascript">
      window.wpseatingURL = "<%= image_url('dropdown/wpseating.png') %>";
    </script>
    <script type="text/javascript">
      window.wptablesURL = "<%= image_url('dropdown/wptables.png') %>";
    </script>
    <script type="text/javascript">
      window.workplaceAllURL = "<%= image_url('dropdown/workplaceAll.png') %>";
    </script>
    
    <script type="text/javascript">
      window.menu4URL = "<%= image_url('dropdown/menu4.jpg') %>";
    </script>
    <script type="text/javascript">
      window.accessoriesAllURL = "<%= image_url('dropdown/accessoriesAll.png') %>";
    </script>
  
<!-- individual desk-->
    <script type="text/javascript">
      window.desk1URL = "<%= image_url('desks/desk1.jpg') %>";
    </script>
    <script type="text/javascript">
      window.desk4URL = "<%= image_url('desks/desk4.jpg') %>";
    </script>
    
    <script type="text/javascript">
      window.other1URL = "<%= image_url('show/other1.jpg') %>";
    </script>
    <script type="text/javascript">
      window.other2URL = "<%= image_url('show/other2.jpg') %>";
    </script>
    <script type="text/javascript">
      window.other3URL = "<%= image_url('show/other3.jpg') %>";
    </script>
    <script type="text/javascript">
      window.other4URL = "<%= image_url('show/other4.jpg') %>";
    </script>
    <script type="text/javascript">
      window.shopboxURL = "<%= image_url('show/shopbox.svg') %>";
    </script>

<!-- index page-->
    <script type="text/javascript">
      window.mainIndexURL = "<%= image_url('index/mainIndex.jpg') %>";
    </script>

    <script type="text/javascript">
      window.chrURL = "<%= image_url('index/chr.jpg') %>";
    </script>

    <script type="text/javascript">
      window.dskURL = "<%= image_url('index/dsk.jpg') %>";
    </script>

    <script type="text/javascript">
      window.wrkplcURL = "<%= image_url('index/wrkplc.jpg') %>";
    </script>

<!-- home page-->
    <script type="text/javascript">
      window.home1URL = "<%= image_url('home/home1.jpg') %>";
    </script>

    <script type="text/javascript">
      window.home2URL = "<%= image_url('home/home2.jpg') %>";
    </script>

    <script type="text/javascript">
      window.home3URL = "<%= image_url('home/home3.jpg') %>";
    </script>

    <script type="text/javascript">
      window.home4URL = "<%= image_url('home/home4.jpg') %>";
    </script>

    <script type="text/javascript">
      window.home5URL = "<%= image_url('home/home5.jpg') %>";
    </script>

    <script type="text/javascript">
      window.icnhomeURL = "<%= image_url('home/icnhome.png') %>";
    </script>

  </head>

  <body class="Site">
    <%= yield %>


    <footer>
      <div class='site_info'>This project is based of the website, wwww.fully.com and is meant for demonstration purposes. Please do not use your personal information to sign up. I hope you enjoy!</div>
      <div class='footer_info'>
        <div class='footer_linkedin'>
          <div><a href="https://www.linkedin.com/in/william-leung-60589a73/">Linkedin</a></div>
          <a href="https://www.linkedin.com/in/william-leung-60589a73/"><div class="footer_icon_spacing"><%= image_tag("icons/linkedin.png") %></div></a>
        </div>
        <div class='footer_email'>
          <div><a href="#">Email</a></div>
          <a href="#"><div class="footer_icon_spacing" id='email_foot'><%= image_tag("icons/email2.png") %></div></a>
        </div>
        <div class='footer_github'>
          <div><a href="https://github.com/1071919wl">Github</a></div>
          <a href="https://github.com/1071919wl"><div class="footer_icon_spacing"><%= image_tag("icons/github2.png") %></div></a>
        </div>
        <div class='footer_repository'>
          <div><a href="https://github.com/1071919wl/heighten_fullstack">Repository</a></div>
          <a href="https://github.com/1071919wl/heighten_fullstack"><div class="footer_icon_spacing"><%= image_tag("icons/fork.png") %></div></a>
        </div>
      </div>
    
    </footer>
    <!--# https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ -->
  </body>

    
</html>

